{% extends "base.html" %}

{% block content %}
  <h1>Taxi Service Home</h1>
  <p>Welcome to Best Taxi Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Taxi service has the following record counts:</p>
  <ul>
    <li><strong>Cars:</strong> {{ num_cars }}</li>
    <li><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
  </ul>

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
      {% endif %}
      <li class="page-item active"><span class="page-link">{{ page_obj.number }} / {{ page_obj.num_pages }}</span></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
